*{
    font-family: 'Nunito', sans-serif;    
}

body{
    background-image: linear-gradient(#350a3d, #17202a );
    background-attachment: fixed;   
    
}

#containerNav{
    display: flex;
    justify-content: space-around;
}

#navBar a{
    font-size: 20px;
    font-weight: bold;
    color: #f1f1f1;
    text-align: center;
}

#navBar img{
    width: 150px;
}


#botonNavegador{    
    background-color: #350a3d;
    border: 1px solid #000000;
    outline: none;
}


.h1Principal{
    color: #f1f1f1;
    font-size: 50px;
    text-align: center;
}



#imgMain img{
    width: 100%;
    border-radius: 5px;
}


#textoMain p{
    color: #f1f1f1;    
    font-weight: bold;
    
}
#textoMain p a{    
    color: #f1f1f1;
}


#h3Redes{
    color: #f1f1f1;
    text-align: center;
}

#redes li{
    text-align: center;
    list-style: none;    
    font-size: 30px;
}

#redes{
    display: flex;
    justify-content: center;
    
}

#redes li a{
    color: #f1f1f1;
    margin: 20px;
}

#copyrigth{
    font-size: 20px;
    color: #f1f1f1;
    text-align: center;
}

#textoSobreMi{
    color: #f1f1f1;
}

#textoSobreMi a{
    color: #f1f1f1;
}

#iframeYoutube{
    width: 100%;
    height: 25rem;
}


div .productos{
    border: 3px solid #350a3d;
    box-shadow: 1px 1px 10px 1px #350a3d;
    background-image: linear-gradient(#d71ff7, #17202a );    
}

.botonComprar{
    display: inline-flex;
    width: 100%;
    padding: 10px;
    color: #f1f1f1;
    font-size: 20px;
    background-image: linear-gradient(#350a3d, #131517 );
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;    
    position: relative;
    overflow: hidden;
}

.botonComprar span{
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}


.botonComprar::after{
    content: "";
    width: 100%;
    height: 80px;
    background-color: #4c024f;
    position: absolute;
    z-index: 1;
    top: -80px;
    left: 0;
    transition: .3s ease-in-out all;
}

.botonComprar:hover::after{
    top: 1px;
    content: "Proximamente";
    z-index: 15; 
    height: 60px;   
}

#iframeComunidad{
    height: 400px;    
}