*{
    font-family: 'Nunito', sans-serif;
}

body{
    background-image: linear-gradient(#350a3d, #17202a );
    background-attachment: fixed;   
    
}

#containerNav{
    display: flex;
    justify-content: space-around;
}

#navBar a{
    font-size: 20px;
    font-weight: bold;
    color: #f1f1f1;
    text-align: center;
}

#navBar img{
    width: 150px;
}

#navegador{
    
   
}

#botonNavegador{    
    background-color: #350a3d;
    border: 1px solid #000000;
    outline: none;
}


.h1Principal{
    color: #f1f1f1;
    font-size: 50px;
    text-align: center;
}



#imgMain img{
    width: 100%;
    border-radius: 5px;
}


#textoMain p{
    color: #f1f1f1;
    font-size: 20px;
    font-weight: bold;
    
}
#textoMain p a{    
    color: #f1f1f1;
}


#h3Redes{
    color: #f1f1f1;
    text-align: center;
}

#redes li{
    text-align: center;
    list-style: none;    
    font-size: 30px;
}

#redes{
    display: flex;
    justify-content: center;
    
}

#redes li a{
    color: #f1f1f1;
    margin: 20px;
}

#copyrigth{
    font-size: 20px;
    color: #f1f1f1;
    text-align: center;
}