
$texto-principal: #f1f1f1;

@use "global";

h1{
    color: $texto-principal;
}

p{
    color: $texto-principal;
}

#navBar{
    ul{
        li{
            a{
                color: $texto-principal;
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
}