@import "components/global";


$texto-principal: #f1f1f1;
$font-h1: 3rem;
$font-h2: 2.2rem;
$font-h3: 1.9rem;
$font-p: 1.25rem;
$box-shadows: 0 0 10px 0 #000000e8;
$color-pricnipal: #350a3d;


h1{
    color: $texto-principal;
}

p{
    color: $texto-principal;
}

#navBar{
    ul{
        li{
            a{
                color: $texto-principal;
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
}

h1{
    text-align: center;   
    span{
        font-size: $font-h1;
        transition: .5s linear;
        &:hover{
            text-shadow:
            0 0 12px #800080,    
            0 0 12px #800080,
            0 0 12px #800080,
            0 0 12px #800080;
            letter-spacing: 10px;
        }
    }
} 
    

header{
    box-shadow: $box-shadows;
}

main{
    box-shadow: $box-shadows;
}

footer{
    box-shadow: $box-shadows;
}


#imgMain img{
    width: 100%;
    border-radius: 5px;
}
#textoMain p{
    color: $texto-principal;    
    font-weight: bold;
    
}
#textoMain{
    p{
        a{    
            color: $texto-principal;
        }
    }
}  


#navBar{
    a{
        font-size: $font-p;
        font-weight: bold;
        color: $texto-principal;
        text-align: center;
    }    
} 

#navegador{
    li{
        .nav-link{
            &:hover{
                color: #4c024f; 
            } 
        }
    }
} 
