@import "base/header";
@import "base/footer";
@import "base/h1";
@import "components/global";
@import "components/variables";
@import "components/mixin";
@import "components/mapas";
@import "components/extend";



p{
    color: $texto-principal;
}

header{
    box-shadow: $box-shadows;
}

main{
    box-shadow: $box-shadows;
}

footer{
    box-shadow: $box-shadows;
}

/*=======================================================INDEX=======================================================*/

main{
    #imgMain{
        img{
            width: 100%;
            border-radius: 5px;
        }
    } 
    #textoMain{
        p{
            @extend %font;
            a{    
            color: $texto-principal;
            }
        }
    }  
}




/*======================================================= CONTACTO HTML======================================================= */

.contact-wrapper{
    box-shadow: 0 0 20px 0 #4c024fcd;
    animation: bounceIn; 
    animation-duration: 2s;
    *{
        padding: 1rem; 
    }
    ul{
        li{
            list-style: none;
        }
    }
}

.contact-form{
    background:#350a3d7a ;
    color: $texto-principal;
    form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        div{
            margin: 0;
            padding: 1rem;
        }
        .block{
            grid-column: 1/-1;
        }
        input{
            @include contancto_form();
        }
        button{
            @include contancto_form();
            background-color: #560564;
            border: none;
            margin-top: .8rem;
            outline: none;   
            text-transform: uppercase;
            padding: 1rem; 
            &:hover{
                transition: ease .3s;
                color: $texto-principal;
                background-color: #5605645d;   
            }
        }
        textarea{
            @include contancto_form();
            resize: none;
        }
    }
}  

.contact-info{
    background: #350a3d00;
    @extend %font;
    h4{
        text-align: center;
    }
    ul{
        text-align: center;
    }
    img{
        width: 100%;
    }
    li{
        padding: .2rem;
    } 
    
}

//Disabled the button
#button.disabled{
    opacity: .1;
    cursor: not-allowed;
}






/*======================================================= ANIMACION DE LA GALERIA COMUNIDAD======================================================= */
#iframeComunidad{
    height: 25rem;    
}

.imgContenedor{    
    position: relative;
    overflow: hidden;
    &::before{
    @extend %font;
    content: "Panza Army";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #350a3d7c;
    transform: translate(100%);
    transition: transform .4s;       
    align-items: center;    
    font-size: 30px;    
    display: flex;
    justify-content: center ;    
    }   
}


.imgContenedor:hover::before{
    transform: translate(0) rotate(360deg);
    
}


/*=======================================================Modificando Productos.HTML=======================================================*/

div{
    .productos{
        border: 3px solid $color-pricnipal;
        box-shadow: 1px 1px 10px 1px $color-pricnipal;
        background-image: linear-gradient(#d71ff7, #17202a );  
        .botonComprar{
            @extend %font;
            display: inline-flex;
            width: 100%;
            padding: 10px;            
            font-size: 20px;
            background-image: linear-gradient(#350a3d, #131517 );
            align-items: center;
            justify-content: center;            
            border: none;
            cursor: pointer;
            text-transform: uppercase;
            transition: .3s ease all;    
            position: relative;
            overflow: hidden;
            span{
            position: relative;
            z-index: 2;
            transition: .3s ease all;
            }
        }  
    }
} 

.botonComprar::after{
    content: "";
    width: 100%;
    height: 80px;
    background-color: #4c024f;
    position: absolute;
    z-index: 1;
    top: -80px;
    left: 0;
    transition: .3s ease-in-out all;    
}

.botonComprar:hover::after{
    top: 1px;
    content: "Proximamente";
    z-index: 15; 
    height: 60px;   
}


/*=======================================================SOBRE MI HTML=======================================================*/

#textoSobreMi{
    color: $texto-principal;
    a{
        color: $texto-principal;
    }
}
#iframeYoutube{
    width: 100%;
    height: 25rem;
}


.enabled + div.disclaimer {
    visibility: hidden;
    display: none;
}