*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body{
    background-image: linear-gradient(#350a3d, #17202a );
    
}


nav{
    img{
        width: 9.375rem;
    }
}

