@import "../components/mapas";
@import "../components/variables";

footer{
    h3{
        color: $texto-principal;
        text-align: center;
        font-size: $h3;
    }
    #copyrigth{
        font-size: 20px;
        color: $texto-principal;
        text-align: center;
    }
}

#redes{
    display: flex;
    justify-content: center;
    li{
        text-align: center;
        list-style: none;    
        font-size: 30px;
        a{
            color: $texto-principal;
            margin: 20px;
        }
    }
} 